:root {
    --menuBg: #e8f5e9;
    --menuBottom: #c8e6c9;
    --buttonBg: #A5D6A7;
    --buttonBottom: #81C784;
    --buttonTxtColor: black;
    --menuPadding: 10px;
    --menu-text-color: black;
    --border-radius: 6px;
    --curtainBgColor: rgba(0, 0, 0, 0.3);
    --default-padding: 10px;
    --red-blue-bg-text: black;
}
.hex {
    transform: scale(0.3);
    transform-origin: 50% 0%;

    stroke: var(--menuBottom);
    stroke-width: 19px;
}
.hex:hover {
    /*stroke: var(--buttonBottom);*/
}
#newNotifs{
    color: white;
    position: fixed;
    right:0;
    z-index: 1000;
    font-size: x-large;
}
.rightNotif{
    position: initial;
    display: block;
    font-size: 18px;
    background: var(--menuBg) none repeat scroll 0% 0%;
    box-shadow: var(--menuBottom) 0px 5px, rgba(0, 0, 0, 0.2) 0px 7px 30px 0px;
    color: var(--menu-text-color);
    animation: 5s rightNotif both;
    padding: 10px;
}
@keyframes rightNotif {
    0%{
        transform: translateX(100%);
    }20%{
        transform: translateX(0%);
    }80%{
        transform: translateX(0%);
    }100%{
        transform: translateX(100%);
    }
}
.lightCells {
    fill: #d2d2d2;
}
.darkCells {
    fill: #5a5a5a;
}
::placeholder{
    color: #606060;
}
.gameBoard {
    width: 100%;
    height: auto;
}
.bckElement {
    width: 52px;
    position: absolute;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: top 1s, left 1s, opacity .5s;
    transition-timing-function: ease-in;
}
#background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--buttonBottom);
}
#thinking{
    background-color: var(--buttonBg);
    box-shadow: 0 3px var(--buttonBottom);
    padding: 4px 10px;
    border-radius: 10000px;
    display: none;
    position: absolute;
    right: 0;
    top: 5px;
    transform: translate(40px, -13px);
}
.gameUI {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
}
html,
body {
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.disableSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.centerMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    width: fit-content;
    background: var(--menuBg);
    border-radius: var(--border-radius);
    box-shadow: 0 3px var(--menuBottom);
    padding: 3px 0 3px 0;
    display: none;
    padding: var(--menuPadding);
    transition: all 0.5s;
}
.mainMenuButtons {
    display: block;
    text-align: center;
    width: calc(100% - 35px);
    margin: var(--default-padding);
    border: none;
    font-size: 16px;
    background-color: var(--buttonBg);
    padding: 8px;
    border-radius: var(--border-radius);
    box-shadow: 0 3px var(--buttonBottom);
    transition-duration: 0.1s;
    color: var(--buttonTxtColor);
    cursor: pointer;
}
.mainMenuButtons:focus {
    outline: none;
}
.mainMenuButtons:active:not(.noClick) {
    box-shadow: none;
    transform: translateY(3px);
}
.mainMenuButtons:hover:not(.noClick):not(.mobileTouch){
    filter: brightness(0.925);
}
.halfMainMenuButtons {
    width: calc(50% - 33.3px);
    display: inline-block;
}
.vsDisplay{
    max-width: 95%;
    text-align: center;
    padding: 20px 0px;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    position: relative;
    transform: translate(-50%,0) scale(0);
    transition: all 0.5s;
    transform-origin: top;
}
.vsContainer{
    display: flex;
}
.vsContainer > div{
    display: flex;
    align-self: center;
    flex-direction: column;
}
.pawnDots{
    display: inline-flex;
    height: 43px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    vertical-align: middle;
    transition: width 0.2s;
}
.myPawns{
    flex-wrap: wrap-reverse;
}
.vsEl {
    display: inline-block;
    padding: var(--default-padding);
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.vsElLeft{
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
}
.vsElName {
    color: var(--red-blue-bg-text);
    font-size: 20px;
}
.vsUsernameField {
    padding: 0px;
    font-size: inherit;
    display: inline;
    background: inherit;
    width: 148px;
    font-family: inherit;
    border: none;
    outline: none;
    cursor: auto;
    -webkit-appearance: none;
}
.vsTable{
    background: var(--menuBg);
    border-radius: var(--border-radius);
    box-shadow: 0 3px var(--menuBottom);
    padding: var(--default-padding);
}
.vsNames{
    font-size: 26px;
}
.vsAgainst{
    background-color: var(--buttonBg);
    padding: 13px 15px;
    border-radius: var(--border-radius);
    box-shadow: 0 3px var(--buttonBottom);
    border: none;
    font-size: 30px;
}
.tutorialText{
    display: none;
    opacity: 0;
    transition: .4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 52;
}
.lightVS{
    background-color: #cbcbcb;
    box-shadow: 0 3px #b5b5b5;
    padding: 5.7px 15px;
}
.leftVS{
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.darkVS{
    background-color: #858585;
    box-shadow: 0 3px #616161;
    padding: 5.7px 15px;
}
.rightVS{
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.pawnDot{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.whitePawnDot{
    background-color: #b6b6b6;
}
.colorSchemeButton {
    height: 15px;
    width: calc((100% / 4) - 15.2px);
    float: left;
}
.redColorSchemeButton {
    background-color: #ef9a9a;
    box-shadow: 0 3px #e57373;
}
.blueColorSchemeButton {
    background-color: #9fa8da;
    box-shadow: 0 3px #7986cb;
}
.greenColorSchemeButton {
    background-color: #a5d6a7;
    box-shadow: 0 3px #81c784;
}
.purpleColorSchemeButton {
    background-color: #ce93d8;
    box-shadow: 0 3px #ba68c8;
}
.cyanColorSchemeButton {
    background-color: #80deea;
    box-shadow: 0 3px #4dd0e1;
}
.yellowColorSchemeButton {
    background-color: #ffcc80;
    box-shadow: 0 3px #ffb74d;
}
.activeColorSchemeButton {
    box-shadow: none;
    transform: translateY(3px);
}
.desc {
    color: var(--menu-text-color);
    line-height: 1.15;
    text-align: center;
    max-width: 230px;
    margin: auto;
}
.scrollableMenu {
    max-height: 300px;
    overflow-y: scroll;
}
.text-input {
    filter: brightness(1.2);
    width: calc(100% - 20px);
    box-sizing: border-box;
    text-align: center;
}
.backButton {
    margin-top: 15px;
}
.darkerBg{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    background-color: var(--curtainBgColor);
    opacity: 0;
    transition: all .4s;
}
#loader{
    z-index: 101;
    width: 100px;
}
.hexagonLoader {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: var(--buttonBg);
  margin: 14.43px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  animation: rotateLoader 1s infinite both alternate;
  animation-timing-function: ease-in-out;
}

.hexagonLoader:before,
.hexagonLoader:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagonLoader:before {
  bottom: 100%;
  border-bottom: 14.43px solid var(--buttonBg);
}

.hexagonLoader:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid var(--buttonBg);
}
.tableOverlay{
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.availableActionsSpan{
    text-decoration: underline;
    cursor: pointer;
}
.pawnPlaceButton{
    display: inline-block;
    width: calc(100% / 3 - 40px);
}
.pawnReloadButton{
    width: calc(50% - 38.3px);
    display: inline-block;
}
.boardElement{
    position: absolute;
    transform: translate(-50%,-50%);
}
.openMainMenuButton{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    background-image: url("../images/sprites/menuButton.png");
    background-size: cover;
}
.openMainMenuButton:focus{
    outline: none;
}
.botBoardElement{
    width: 10%;
    transition: top .4s, left .4s;
}
.botTopArea{
    transform: translate(-50%,-50%) rotate(180deg);
}
.highlightedCells{
    fill: var(--menuBottom);
}
#linkTextInput{
    width: calc(100% - 20px);
    display: flex;
    order: 0;
}
@keyframes rotateLoader{
    0%{
        transform: scale(1) rotate(-45deg);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1) rotate(45deg);
    }
}
.playActions{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.actionButtons{
    width: calc((100% - 39px) / 3);
}
.gameBoardContainer{
    position: absolute;
    width: 100%;
}
.disabledOptionButton{
    filter: brightness(70%);
    pointer-events: none;
}
#wrap {
    border:1px solid green;
    float:left;
}
@media (max-width: 395px){
    .gameBoard{
    }
    .actionButtons{
        width: calc(100% - 10px);
    }
}